*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
    
}
#home-color{
    font-weight: 700;
    color: #252432;
}
.nav-links a{
    justify-content: space-between;
    text-decoration: none;
        
}
.nav-links{
    display: flex;
    gap: 48px;
    color: #252432;
}
.font-color{
    color:#8987A1 ;
}
.cart{
    color: #000000;
}

/* RESPONSIVE SECTION FOR NAVBAR */

@media screen and (max-width:576px){
    nav .hide{
        display: none;
        
    }
    nav img{
        justify-content: left;
        width: 63px;
        height: 38px;
        
    }
    nav{
        display: flex;
        margin: 67px 16px;
    }
    
}

/* BANNER SECTION */

.banner{
    
    width: 1200px;
    height: 461px;
    display: flex;
    align-items: center;
    margin: 221px 200px;
    
}

.banner h3{
    font: Noto Serif;
    font-size: 65px;
    font-weight: 700;
    width: 570px;
    margin: 13px 0;
    
}

.banner span{
    color: #E95A08;
}

.banner p{
    font-size: 22px;
    font-weight: 400;
    color: #00000080
    
    
}

.banner img{
    width: 570px;
    height: 355px;
}
.banner-container{
    width: 1140px;
    height: 461px;
}
/* RESPONSIVE BANNER */

@media screen and (max-width:576px){
    .banner{
        flex-direction: column;
    }
    .banner h3{
        font-size: 2em;
    }
    .banner img{
        width: 100%;
        /* height: 245px; */
        margin: 0;
        
    }
    
}
  

